h2{
    color: #000 !important;
    font-family: oswald-medium;

}
.table-responsive {
    overflow-x: auto;
}

.dark{
    .cart{
        background-color: #212121;
    }

    table,thead,tbody,th,tr,td{
        background-color: #212121 !important;
        color: #fff !important;

    }
    h3{
        color: #fff;
    }
}