.get-in-touch {
    font-family: oswald-medium;

    h1 {
        font-size: 60px;
        font-family: oswald-bold;
    }

    p {
        color: rgb(104, 102, 102);

    }

    .main {

        gap: 160px;

        .mini-divs {
            .address-icon {
                .icon {
                    color: #00A149;

                    width: 70px !important;
                    height: 70px !important;
                    margin-bottom: 30px;

                    &:hover{
                        color:#D12121;

                    }
                }

            }

            h4 {
                font-family: oswald-bold;
            }

            span {
                color: #D12121;
                font-size: 20px;
                cursor: pointer;

                &:hover {
                    color: #00A149;
                }
            }

        }
    }
}