.product-info{
    font-family: oswald-regular;
    .detail-img{
        width: 450px;
    }

    .wish-icon{
        color: #fb0000 !important;
    }

    .favories {
   
        background-color: #ffffff !important;
        border: none !important;
        border-color: #ffffff !important;

    }

}