.light{
  .shop {
    background-color: rgb(246, 246, 246);
    .catagories {
       
        select{
            font-family: oswald-medium;
        }

        span {
            border-left: 3px solid #00A149;
            height: 18px;
            margin-top: 5px;

        }

        h5 {
            font-family: oswald-bold;
            font-size: 24px;
            margin-bottom: 20px;
            margin-left: 5px;
        }


        ul {
            li {
                font-size: 18px;
                border: none !important;
                font-family: oswald-medium;
                margin: 3px 0;
                background-color: rgb(246, 246, 246);

                cursor: pointer;

                &:hover{
                    color: #00A149;
                }

            }
        }
    }
}
}

.dark{
  .shop {
    background-color: rgb(23, 23, 23);
     
    h5{
      color: #fff !important;
      margin-bottom: 20px !important;
    }
    
  }
}
@media (min-width: 768px) {
    .card {
      width: 45%;
      margin: 10px auto;

     
    }
  }
  
  @media (max-width: 767px) {
    .card {
      width: 90%;
      margin: 10px auto;
    }
  }
  
  @media (min-width: 992px) {
    .card {
      width: 40%;
      margin: 10px auto;

     
    }
  }
  
  @media (min-width: 768px) and (max-width: 1400px) {

    .add-btn {
        width: 145px  !important;
        height: 40px;
        margin-left: 10px;
    }
    .add-btn:hover{
        width: 145px ;
        height: 40px;

    }

  }