.shop {
    background-color: rgb(246, 246, 246);
    .catagories {
        height: 400px;
        border-bottom: 1px solid rgb(194, 187, 187);

        span {
            border-left: 3px solid #00A149;
            height: 18px;
            margin-top: 5px;

        }

        h5 {
            font-family: oswald-bold;
            font-size: 24px;
            margin-bottom: 20px;
            margin-left: 5px;
        }


        ul {
            li {
                font-size: 18px;
                border: none !important;
                font-family: oswald-medium;
                margin: 3px 0;
                background-color: rgb(246, 246, 246);

                cursor: pointer;

                &:hover{
                    color: #00A149;
                }

            }
        }
    }
}